<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wallabag Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Wallabag.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WallabagAPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD6AE81625BB755D00649EAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD6AE82825BB755E00649EAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD6AE83325BB755E00649EAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD6AE83E25BB755E00649EAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
